// Typography
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Typographic Variables
//////////////////////////////////////////////////////

// Guide

$letter-spacing = {
  normal: normal
}

$font-weight = {
  regular: 400,
  bold: 600,
}

// Universal Typographic Mixin
//////////////////////////////////////////////////////

// We use one, only one, Karl, a universal mixin for all cases !!!!!!!!!!

$text($name)
  font-family "Montserrat"
  letter-spacing $letter-spacing.normal

  // Заголовки
  if $name == "apaches"
    font-size 72px
    line-height 72px
    font-weight $font-weight.bold
