// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

$pixel = 0.052085vw

// Breakpoints
//////////////////////////////////////////////////////

$breakpoints = {
  tablet: 768px,
  desktop: 1024px,
}
$breakpoints["mobile--max"] = $breakpoints.tablet - 1
$breakpoints["tablet--max"] = $breakpoints.desktop - 1


// Palette
//////////////////////////////////////////////////////
$colors = {
  green: #346025,
  brown1: #b88119,
  brown2: #a35b0f,
  brown3: #b73913,
  light: #f3efe5,
  dark: #3f372f,
  yellow: #ffc633,
}


// Effects
//////////////////////////////////////////////////////
$effects = {
  duration: 0.1s,
}
